.testimonials {
    .slick-dots li {
        button {
            &::before {
                font-size: 12px;
            }
        }
    }
    .slick-dots li.slick-active button::before {
        opacity: .75;
        color: #ff5959;
    }
    .testimonial {
        border: 1px solid #efefef;
        border-radius: 8px;
        padding: 30px 25px;
        margin-bottom: 20px;
        p {
            margin-bottom: 0;
        }
        .testimonial-details {
            margin-top: 30px;
            .testimonial-image {
                display: inline-block;
                border-radius: 100%;
                overflow: hidden;
                height: 65px;
                width: 65px;
                vertical-align: middle;
            }
            .testimonial-info {
                display: inline-block;
                margin-left: 20px;
                vertical-align: middle;
                h4 {
                    margin: 0;
                }
                span {
                    font-size: 12px;
                    text-transform: uppercase;
                    letter-spacing: 0.5px;
                }
            }
        }
    }
}